@font-face {
  font-family: "Oslla";
  src: url(webfonts/oslla.otf);
}
@font-face {
  font-family: "Sink";
  src: url(webfonts/sink.otf);
}
.bg-azul {
  background-color: #579CFF;
  color: #FFF;
}

canvas#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.clouds {
  position: fixed;
  display: flex;
  pointer-events: none;
}
.clouds.um {
  top: 1.5rem;
  z-index: -5;
  animation: nuvem1 320s linear infinite;
}
.clouds.um img {
  height: 34px;
  width: auto;
  filter: blur(3px);
}
.clouds.dois {
  top: 16rem;
  z-index: 1;
  animation: nuvem2 180s linear infinite;
}
.clouds.dois img {
  height: 42px;
  width: auto;
}
.clouds.tres {
  bottom: 2rem;
  z-index: 2;
  animation: nuvem3 90s linear infinite;
}
.clouds.tres img {
  height: 280px;
  width: auto;
  filter: blur(4px) opacity(0.95);
}
.clouds.quatro {
  bottom: 30%;
  z-index: -4;
  animation: nuvem4 150s linear infinite;
}
.clouds.quatro img {
  height: 60px;
  width: auto;
}
.clouds.cinco {
  bottom: 48%;
  z-index: -3;
  animation: nuvem5 160s linear infinite;
}
.clouds.cinco img {
  height: 40px;
  width: auto;
}
.clouds.seis {
  top: 7%;
  z-index: -2;
  animation: nuvem6 300s linear infinite;
}
.clouds.seis img {
  height: 34px;
  width: auto;
  filter: blur(1px);
}

@keyframes nuvem1 {
  0% {
    left: -90px;
  }
  100% {
    left: 1240px;
  }
}
@keyframes nuvem2 {
  0% {
    left: 1400px;
    filter: opacity(1);
  }
  25% {
    filter: opacity(0.95);
  }
  75% {
    filter: opacity(0.95);
  }
  100% {
    filter: opacity(1);
    left: -100px;
  }
}
@keyframes nuvem3 {
  0% {
    filter: opacity(1);
    left: -1000px;
  }
  25% {
    filter: opacity(0.95);
  }
  75% {
    filter: opacity(0.95);
  }
  100% {
    left: 1400px;
    filter: opacity(1);
  }
}
@keyframes nuvem4 {
  0% {
    left: 1600px;
  }
  100% {
    left: -800px;
  }
}
@keyframes nuvem5 {
  0% {
    left: -200px;
  }
  100% {
    left: 1600px;
  }
}
@keyframes nuvem6 {
  0% {
    left: 1500px;
  }
  100% {
    left: -200px;
  }
}
.ycd-all-content-wrapper.ycd-countdown-content-wrapper-192 {
  position: absolute;
  width: 100%;
  bottom: 12%;
  z-index: 1234;
}

html, body {
  height: 100%;
}

body {
  background-image: url(../img/bg-ceu.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Sink", sans-serif;
}
body.page-template-page-votacao-concurso-fantasia .ycd-all-content-wrapper {
  display: none;
}
body.page-template-page-votacao-concurso-fantasia #header {
  position: relative;
  height: 40%;
}
body.page-template-page-votacao-concurso-fantasia #header .custom-logo-link img {
  max-height: 250px;
  width: auto;
}
body.page-template-page-votacao-concurso-fantasia #header .down {
  display: none;
}
body.page-template-page-votacao-concurso-fantasia #main h2 {
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9,
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container {
  position: relative;
  z-index: 32;
}
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9 div.wpforms-container-full .wpforms-confirmation-container-full,
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9 div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message),
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container div.wpforms-container-full .wpforms-confirmation-container-full,
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
  background-color: #FFCE00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 1rem;
}
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9 div.wpforms-container-full .wpforms-confirmation-container-full .wpforms-poll-answer-percent,
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9 div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) .wpforms-poll-answer-percent,
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container div.wpforms-container-full .wpforms-confirmation-container-full .wpforms-poll-answer-percent,
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) .wpforms-poll-answer-percent {
  display: flex;
  font-size: 0.85rem;
  opacity: 0.75;
}
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9 div.wpforms-container-full .wpforms-confirmation-container-full .wpforms-poll-answer-percent span,
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9 div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) .wpforms-poll-answer-percent span,
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container div.wpforms-container-full .wpforms-confirmation-container-full .wpforms-poll-answer-percent span,
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) .wpforms-poll-answer-percent span {
  margin: auto 0 0 0.25rem;
  float: right;
}
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9 div.wpforms-container-full .wpforms-confirmation-container-full .wpforms-poll-answer-percent .wpforms-poll-answer-count,
body.page-template-page-votacao-concurso-fantasia #main .col-lg-9 div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) .wpforms-poll-answer-percent .wpforms-poll-answer-count,
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container div.wpforms-container-full .wpforms-confirmation-container-full .wpforms-poll-answer-percent .wpforms-poll-answer-count,
body.page-template-page-votacao-concurso-fantasia #main .wpforms-container div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) .wpforms-poll-answer-percent .wpforms-poll-answer-count {
  font-weight: 700;
  font-size: 1.4rem;
  color: #000;
  float: left;
}
body .countdown {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1234;
  background-color: rgba(255, 255, 255, 0.25);
}
body.admin-bar .countdown {
  top: 32px;
}
body #header {
  position: relative;
  height: 100%;
}
body #header .row {
  height: 100%;
}
body #header .custom-logo-link {
  display: block;
  text-align: center;
  margin: auto;
}
body #header .custom-logo-link img {
  height: 100%;
  max-height: 400px;
  height: auto;
}
body #header .down {
  font-size: 6rem;
  color: #FFCE00;
  margin: 2rem auto 0 auto;
}
body #header ul.menu {
  margin: 1rem auto;
  list-style: none;
  text-align: center;
}
body #header ul.menu li {
  display: inline-block;
  margin: 0.75rem;
}
body #header ul.menu li a {
  display: block;
  border-radius: 2rem;
  padding: 8px 20px;
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
}
body #programacao {
  min-height: 39%;
  background-image: url(../img/bg-multida.webp);
  background-blend-mode: multiply;
}
body #programacao h2 {
  font-family: "BoldenVan";
  font-size: 4rem;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  margin-top: 2rem;
  text-shadow: 0 4px 5px rgba(91, 47, 136, 0.75);
}
body #programacao p {
  width: 100%;
  font-family: "bree", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
  text-shadow: 0 4px 5px rgba(91, 47, 136, 0.75);
}
body #programacao .wp-block-table {
  margin-top: 1.4rem;
  margin-bottom: 4rem;
}
body #programacao .wp-block-table.is-style-stripes {
  border-bottom: none !important;
}
body #programacao .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.5);
}
body #programacao img {
  width: auto;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body #concurso {
  background-image: url("../img/bg-programacao.webp");
}
body #concurso h2 a {
  color: #fff;
  text-decoration: none;
}
body #atracoes .title-local {
  width: 30%;
  color: #FFF;
  padding: 0.5rem 0.75rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
body #atracoes .atracao.principal {
  width: 20%;
}
body #atracoes .atracao.principal .atracao-item {
  text-align: center;
  margin-top: 3rem;
}
body #atracoes .atracao.principal .atracao-item h6 {
  font-family: "Oslla", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFF;
  padding: 0.5rem;
  border-radius: 0.75rem;
}
body #atracoes .atracao.principal .atracao-item h6 a {
  color: #579CFF;
  text-decoration: none;
}
body #atracoes .atracao.principal .atracao-item img {
  width: 75%;
  height: auto;
  margin: auto;
  text-align: center;
}
body #atracoes .atracao.principal .atracao-item#araketu {
  margin-top: 0;
}
body #atracoes .atracao.principal .atracao-item#araketu h6 {
  font-size: 2rem;
}
body #atracoes .atracao.principal .atracao-item#araketu h6 a {
  text-decoration: none;
}
body #atracoes .atracao.principal .atracao-item#chama-o-sindico img {
  width: 98%;
}
body #atracoes .atracoesLista {
  list-style: none;
  text-align: center;
  padding: 0;
}
body #atracoes .atracoesLista li {
  display: inline-block;
  border-right: solid 2px #F00;
  padding: 0;
}
body #atracoes .atracoesLista li:last-child {
  border-right: 0;
}
body #atracoes .atracoesLista li:nth-child(even) a {
  color: #FFF;
}
body #atracoes .atracoesLista li a {
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 0.9rem;
  color: #FFCE00;
  opacity: 1;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
body #atracoes .tooltip_templates {
  display: none;
}
body #atracoes .tooltip_templates span {
  width: 100%;
  max-width: 400px;
}
body #atracoes .tooltip_templates span p {
  display: flex;
}
body #cards {
  position: relative;
  z-index: 10;
}
body #cards .col-lg-4 {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 2rem;
}
body #cards .col-lg-4 .card {
  position: relative;
  display: flex;
  height: 240px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body #cards .col-lg-4 .card h5 {
  margin: auto auto 4rem auto;
  width: 60%;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
body #cards .col-lg-4 .card .overlay {
  display: none;
  position: absolute;
}
body #cards .col-lg-4 .card:hover .overlay {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
}
body #cards .col-lg-4 .card:hover .overlay h5 {
  color: #FFF;
}
body #cards .col-lg-4 .card:hover .overlay p {
  margin: auto auto 0 auto;
}
body #cards .col-lg-4 .card:hover .overlay button {
  margin: 0.75rem auto auto auto;
  align-self: center;
}
body #kids {
  background-image: url(../img/bg-ekids.webp);
  background-size: cover;
  min-height: 400px;
}
body #kids .col-lg-12 {
  background-image: url(../img/rb-ekids.webp);
  background-repeat: repeat-x;
  background-size: contain;
  padding: 1.8rem 0;
}
body #kids a {
  text-decoration: none;
}
body #kids h1 {
  text-transform: uppercase;
  font-size: 5rem;
  text-shadow: -6px 6px 0 #FFF;
}
body .container-fluid h2, body .container-fluid h3 {
  text-align: center;
  text-transform: uppercase;
}
body footer a {
  color: #000;
  text-decoration: none;
}
body footer a:hover {
  text-decoration: underline;
}
body .modal-header {
  background-color: #6411A3;
  color: #FFCE00;
}
body .modal-header .btn-close {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
}
body .modal-header .btn-close i {
  font-size: 1.5rem;
  color: #FFF;
}
body .modal-header h5 {
  text-transform: uppercase;
  font-size: 1.6rem;
}
body .modal-body {
  padding: 1rem 2rem;
}
body .modal-body h1, body .modal-body h2 {
  font-family: "Oslla", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #FF1A1A;
}
body .modal-body h3, body .modal-body h4, body .modal-body h5, body .modal-body h6 {
  font-size: 1rem;
  font-family: "Oslla", sans-serif;
  color: #FD0786;
}

@media screen and (max-width: 412px) {
  body {
    overflow-x: hidden;
  }
  body #header {
    height: 100%;
    max-height: 900px;
    overflow: hidden;
  }
  body #header .custom-logo-link img {
    width: 340px;
    height: auto;
  }
  body #header .col-lg-4 {
    height: 33.333333333%;
  }
  body #header .col-lg-4#itabirito_hd:hover {
    background-position: center 15%;
  }
  body .overlay {
    display: none;
  }
  body #reinaldo .wp-block-embed {
    width: 100%;
    aspect-ratio: 16/9;
  }
  body #reinaldo p {
    margin-right: 0;
  }
  body #programacao h2 {
    font-size: 3rem;
  }
  body #programacao h3 {
    font-size: 1.2rem;
  }
  body #programacao .wp-block-table {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  body #programacao .wp-block-table img {
    height: 150px;
  }
  body #programacao footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  body #atracoes .atracao.principal {
    width: 100%;
  }
}/*# sourceMappingURL=meucarnaval2026.css.map */